@import url('https://fonts.googleapis.com');
@import './GlobalStyles.css';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  user-select: none;
}

body {
  font-size: var(--font-size);
  font-family: var(--font-family);
  color: var(--color-black);
  display: flex;
  flex-direction: column;
}

.main {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--color-white);
}

@media screen and (min-width: 500px) {
  body {
    align-items: center;
  }

  .main {
    width: 780px;
  }
}

.App,
.intro,
.education,
.experience,
.skills,
.contact {
  overflow: scroll;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#home-link {
  display: flex;
  gap: 0.3rem;
  font-size: var(--font-size);
  justify-content: center;

}

/*--------------- Intro page Styles goes from here --------------- */

.intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-block-start: 4.5rem;
  gap: 2rem;
}

.intro .content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.intro .content h1 span {
  color: rgb(40, 108, 235);
  font-family: 'Dancing Script', cursive;
}

.intro .content .divider {
  margin-top: 1.5rem;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.intro .content .divider hr {
  width: 100px;
  opacity: 0.4;
}

.intro .content .divider p {
  letter-spacing: 5px;
  font-size: calc(0.75 * var(--font-size));
}

.links ul {
  text-align: center;
  list-style: none;
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem;
  flex-direction: column;
}

.links ul .nav-link {
  padding-inline: 0.5rem;
  color: var(--color-white);
  width: 100%;
  border-radius: 8px;
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#link-1,
#link-2,
#link-5 {
  width: 100%;
  background-color: rgb(19, 166, 19);
}

#link-2 {
  background-color: rgb(84, 84, 222);
}

#link-3,
#link-4,
#link-5 {
  color: var(--color-black);
}

@media screen and (max-width: 500px) {

  #link-1,
  #link-2,
  #link-5 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.intro .social_links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.intro .social_links .divider {
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.intro .social_links .divider hr {
  opacity: 0.4;
  width: 100px;
}

.intro .social_links .divider p {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: calc(0.75 * var(--font-size));
}

.intro .social_links .social_links_objects {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  font-size: calc(1.25 * var(--font-size));

  a {
    color: var(--color-black);
  }
}

.intro .footer p {
  font-size: calc(0.75 * var(--font-size));
  opacity: 0.5;
}

/*--------------- Experience page Styles goes from here --------------- */
.experience h1 {
  /* color: green; */
  line-height: 2.75rem;
  padding-block: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.experience .exp_details {
  padding-block: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.experience .exp_details .exp {
  background-color: var(--color-blue-10);
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.experience .exp_details .exp .company_name {
  font-style: italic;
}

.experience .exp_details .exp .duration {
  opacity: 0.5;
}

.experience .exp_details .exp .skill_pills {
  margin-block: 0.5rem;
  list-style: none;
  gap: 0.3rem;
  display: flex;
  flex-wrap: wrap;
}

.experience .exp_details .exp .skill_pills li {
  font-size: calc(0.8 * var(--font-size));
  background-color: var(--color-blue-10);
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
}

.experience .exp_details .exp .rolesres_title {
  margin-top: 0.5rem;
}

.experience .exp_details .exp .degree_highlights {
  list-style: circle;
}

.experience .exp_details .exp .degree_highlights li {
  margin-left: 1.1rem;
}



/*--------------- Skills page Styles goes from here --------------- */

.skills h1 {
  line-height: 2.75rem;
  padding-block: 1rem;
}

.skills .skill-section {
  padding-block: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.skills .skill-section .technical {
  background-color: var(--color-blue-10);
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.skills .skill-section .technical .skill_pills {
  margin-block: 0.5rem;
  list-style: none;
  gap: 0.3rem;
  display: flex;
  flex-wrap: wrap;
}

.skills .skill-section .technical .skill_pills li {
  font-size: calc(0.8 * var(--font-size));
  background-color: var(--color-blue-10);
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
}

.skills .skill-section .technical .skills-list {
  padding-inline: 1rem;
}



/*--------------- Qualifications page Styles goes from here --------------- */

.education h1 {
  line-height: 2.75rem;
  padding-block: 1rem;
  display: flex;
  align-items: center;
  text-align: left;
  gap: 0.5rem;
}

.education .edu_details {
  padding-block: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.education .edu_details .edu {
  background-color: var(--color-blue-10);
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.education .edu_details .edu .duration {
  opacity: 0.5;
  font-size: calc(0.9 * var(--font-size));
}

.education .edu_details .edu ul {
  list-style: none;
  font-style: italic;
}