*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    user-select: none;
}

.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
}

:root {
    --font-size: 18px;
    --font-family: "Poppins", serif;
    --color-white: #F9F9F3;
    --color-black: rgb(40, 40, 43);
    --primary-color: rgb(216, 216, 3);
}

a {
    text-decoration: none;
    color: var(--color-black);
}

a:visited {
    color: initial;
}

button,
a {
    -webkit-tap-highlight-color: var(--color-black);
    outline: none;
    -moz-outline-style: none;
}

button:focus,
a:focus {
    outline: none;
}

body {
    font-size: var(--font-size);
    font-family: var(--font-family);
    color: var(--color-black);
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 500px) {
    body {
        align-items: center;
    }

    .App {
        width: 780px;
    }
}
.main {
    border: 5px solid rgb(237, 11, 11);
    height: 100vh; 
    height: calc(var(--vh, 1vh) * 100);
    overflow: scroll;
    display: flex;
    flex-direction: column;

}

.App{
    
}

.intro, .education,.experience {

} 