*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  text-select: none;
}


:root {
  --font-size: 18px;
  --font-color: rgb(231, 231, 231);
  --background-color: rgb(44, 44, 44);
  --primary-color: rgb(216, 216, 3);
}

body {
  height: stretch;
  font-size: var(--font-size);
  font-family: "Poppins", serif;
  color: var(--font-color);
  background-color: var(--background-color);
}

@media screen and (min-width: 500px) {
  body {
    display: none;
  }
}


.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: italic;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  position: relative;
  /* scroll-behavior: no-scr; */
}

.intro {
  background: url('./assets/chess board.jpg');
  background-position: center;
  background-size: cover;
 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
/* .intro .footer{
  bottom: 0;
  position: absolute;
  font-size: 0.8rem;
} */

.intro .image .author-image {
  max-width: 100%;
  
}





.intro .element {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 1;
  background: linear-gradient(var(--background-color), transparent, var(--background-color));
}

.intro .element-2 {
  position: absolute;
  z-index: 0;
  background-color: var(--background-color);
  opacity: 0.6;
  width: 100%;
  height: 100%;
}

.intro section {
  position: absolute;
  /* bottom: 0; */
}


.intro section .content {
  /* background-color: red; */
  margin-inline: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

}
.intro section .content h1{
  font-size: 2.5rem;
}

.intro section .content h1 span {
  color: var(--primary-color);
  font-family: "Shadows Into Light", cursive;

}

.intro section .content .introduction {
  padding-bottom: 1rem;
  border-bottom: 2px solid rgb(101, 101, 101);


}

.links {
  margin-inline: 0rem;
  padding-block: 1rem;
  
  width: 100%;
}

.links ul {
  /* list-style: none; */
  grid-template-columns: 50% 50%;
  display: grid;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 0.5rem;
  list-style: none;
  padding-inline: 1rem;
}



.nav-link {
  width: 100%;
  border: 1px solid rgb(231, 208, 208);
  border-radius: 8px;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent ;
  color: var(--font-color);
  text-decoration: none;
}

.links ul .nav-link.link-5, .nav-link.link-4 {
  grid-column-start: 1;
  grid-column-end: 3;
  
}

.skills, .experience, .education, .contact {
  padding: 1rem;
  width: 100%;
  /* background-color: rgb(36, 36, 36); */
}

#home-link {
  background: none;
  font-size: calc(1 * var(--font-size));
  display: flex;
  gap: 0.2rem;
  justify-content: center;
  border: none;
  font-weight: 700;
  color: var(--font-color);
  text-decoration: none;
  opacity: 0.5;
}

.skills h1,
.education h1,
.experience h1 {
  text-align: left;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgb(138, 138, 138);
}

.skills .skill-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-block: 1rem;
}

.technical h2 {
  margin-bottom: 0.8rem;
  color: var(--primary-color);
}

.technical ul {
  padding-inline: 1.5rem 0;
}

.skills h1 {}


.education .edu_details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block: 1rem;
}

.education .edu_details .edu .degree {

  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
}

.education .edu_details .edu .institution_name {
  font-style: italic;
  font-weight: 200;
}

.degree_highlights {
  margin-inline: 1rem;
  padding-block: 1rem;
  list-style-type: circle;
}

/* Experience section styling goes from here */
.experience .exp_details {
  margin-top: 1rem;
}

.experience .exp_details .exp .role{
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
}

.experience .exp_details .exp .company_name {
  font-style: italic;
  font-weight: 200;
}
.rolesres_title {
  margin-top: 1rem;
}
.contact_details{
  /* background-color: red; */
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;

}


.contact-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-top: 2rem;


        h1 {
            font-size: 2.5rem;
            font-family: "Shadows Into Light", cursive;
        }

        form {
          /* background-color: red; */
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .form-field {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                label {
                    font-size: 1rem;
                }

                input,
                textarea {
                    padding: 1rem;
                    border: 2px solid var(--font-color);
                    background: none;
                    border-radius: 4px;
                    outline: none;
                    font-size: var(--font-size);
                }

                textarea {
                    height: 120px;
                }

                input:focus,
                textarea:focus {
                    /* border-color: var(--clr-input-focus); */
                    color: var(--clr-text);
                    box-shadow: var(--clr-input-shadow) 0px 7px 29px 0px;                }
            }

            button {
                background-color: var(--font-color);
                border: none;
                color: black;
                padding: 0.8rem 1.5rem;
                align-self: center;
                border-radius: 4px;
                font-weight: bold;
                cursor: pointer;
                font-size: var(--font-size);

                &:hover {
                    background-color: var(--primary-color);
                    color: var(--clr-body-bg);
                }

            }
        }
    }
    .social_links {
      /* background-color: red; */
      margin-block: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content:center;
      gap: 1rem;
    }
    .social_links p{
      color: var(--font-color);
      opacity: 0.7;
    }

    .social_links_objects {
      display: flex;
      justify-content: center;
      gap: 1.4rem;

    }
    .social_links_objects a{
      color: var(--font-color);
      font-size: 1.5rem;
    }