*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  text-select: none;
}


:root {
  --font-size: 18px;
  --font-color: rgb(231, 231, 231);
  --background-color: rgb(44, 44, 44);
  --primary-color: rgb(216, 216, 3);
}

body {
  height: stretch;
  font-size: var(--font-size);
  font-family: "Poppins", serif;
  color: var(--font-color);
  background-color: var(--background-color);
}

@media screen and (min-width: 500px) {
  body {
    display: none;
  }
}


.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: italic;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  position: relative;
}

.intro {
  /* padding-block: 1rem; */
  position: relative;
  text-align: center;
}

.intro .image {
  position: relative;
}

.intro .image .author-image {
  max-width: 100%;
  /* border-radius: 50px 50px 0px 0px; */
}

.intro .image .element {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent 20%, var(--background-color) 90%);
  bottom: -2px;
}


.intro .content {
  /* background-color: red; */
  margin-inline: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.intro .content h1 span {
  color: var(--primary-color);

}

.intro .content .introduction {
  padding-bottom: 1.5rem;
  border-bottom: 2px solid rgb(101, 101, 101);


}

.links {
  margin-inline: 1rem;
  padding-block: 1.5rem;
}

.links ul {
  list-style: none;
  grid-template-columns: auto auto;
  display: grid;
  flex-wrap: wrap;
  text-align: center;
  gap: 0.5rem;
}

.link-5 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.links ul li {
  cursor: pointer;
  font-size: calc(0.8 * var(--font-size));
  background-color: rgb(63, 63, 63);
  padding-block: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  color: var(--font-color);
  outline: none;
  border: none;
  font-family: inherit;
}

.nav-link {
  width: 100%;
  color: var(--font-color);
  text-decoration: none;
}

.skills {
  padding: 1rem;
  width: 100%;
  /* background-color: rgb(36, 36, 36); */
}

#home-link {
  background: none;
  font-size: var(--font-size);
  display: flex;
  gap: 0.6rem;
  justify-content: center;
  border: none;
  font-weight: 700;
  color: var(--font-color);
}

.skills h1 {
  text-align: center;
  margin-top: 1rem;
}

.skills .skill-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-block: 1rem;

}

.technical h2 {
  margin-bottom: 0.8rem;
  color: var(--primary-color);
}

.technical ul {
  padding-inline: 1.5rem 0;
}

.skills h1 {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgb(138, 138, 138);
}