@import url('https://fonts.googleapis.com');


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    user-select: none;
}

.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
}

:root {
    --font-size: 16px;
    --font-family: "Poppins", serif;
    --color-white: #ffffff;
    --color-black: rgb(44, 44, 44);
    --primary-color: rgb(216, 216, 3);
    --color-blue-100: rgba(84, 84, 222, 1);
    --color-blue-75: rgba(84, 84, 222, 0.75);
    --color-blue-50: rgba(84, 84, 222, 0.5);
    --color-blue-25: rgba(84, 84, 222, 0.25);
    --color-blue-10: rgba(84, 84, 222, 0.10);
    --color-blue-05: rgba(84, 84, 222, 0.05);
    --color-green: rgb(19, 166, 19);
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

a:visited {
    color: initial;
}

button,
a {
    -webkit-tap-highlight-color: var(--color-white);
    outline: none;
    -moz-outline-style: none;
}

button:focus,
a:focus {
    outline: none;
}

body {
    font-size: var(--font-size);
    font-family: var(--font-family);
    color: var(--color-black);
    display: flex;
    flex-direction: column;

    /* background-image: url("./assets/bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat; */
    /* background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); */

}



@media screen and (min-width: 500px) {
    body {
        align-items: center;
    }

    .App {
        width: 780px;
    }
}

.main {
    /* background: rgba(11, 53, 120, 0.3);
    box-shadow: 0 4px 30px var(--color-black);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(5px); */

    position: relative;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    /* background-color: var(--color-blue-10); */
}

.App,
.intro,
.education,
.experience,
.skills,
.contact {
    overflow: scroll;
}


.App {
    /* border: 4px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;

    .footer {
        position: absolute;
        bottom: 0;

        p {
            font-size: calc(0.6 * var(--font-size));
            opacity: 0.5;
        }

    }
}


.intro {
    /* border: 5px solid red; */
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-block-start: 3.75rem;
    gap: 2rem;

    .content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h1 span {
            color: rgb(40, 108, 235);
            font-family: 'Dancing Script', cursive;
        }

        .divider {
            margin-top: 1.5rem;
            opacity: 0.5;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            hr {
                width: 100px;
            }

            p {
                letter-spacing: 5px;
                font-size: calc(0.75 * var(--font-size));
            }
        }

    }

    .links {

        ul {
            text-align: center;
            list-style: none;
            display: grid;
            grid-template-columns: auto auto;
            gap: 0.5rem;
            flex-direction: column;

            .nav-link {
                padding-inline: 0.5rem;
                color: var(--color-white);
                /* font-size: calc(0.75 * var(--font-size)); */
                width: 100%;
                border-radius: 8px;
                height: 3rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            #link-1,
            #link-2,
            #link-5 {
                grid-column-start: 1;
                grid-column-end: 3;
                width: 100%;
                background-color: rgb(19, 166, 19);
            }

            #link-2 {
                background-color: rgb(84, 84, 222);
            }

            #link-3,
            #link-4,
            #link-5 {
                color: var(--color-black);
            }

            #link-5 {
                background-color: transparent;
            }
        }
    }

    .social_links {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .divider {
            opacity: 0.5;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            hr {
                width: 100px;
            }

            p {
                letter-spacing: 5px;
                text-transform: uppercase;
                font-size: calc(0.75 * var(--font-size));
            }
        }

        .social_links_objects {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.2rem;
            font-size: calc(1.25 * var(--font-size));

            a {
                color: var(--color-black);
            }

        }
    }
}



button {
    background: none;
    outline: none;
    border: none;
    color: inherit;
}

#home-link {
    display: flex;
    gap: 0.3rem;
    font-size: var(--font-size);
    justify-content: center;

}

.experience {
    h1 {
        /* color: green; */
        line-height: 2.75rem;
        padding-block: 1rem;
    }

    .exp_details {
        padding-block: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;



        .exp {
            background-color: var(--color-blue-10);

            padding: 1rem 1.5rem;
            /* border: 2px solid red; */
            border-radius: 1.5rem;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            display: flex;
            flex-direction: column;
            gap: 0.2rem;

            .role {
                font-weight: bold;
                font-size: calc(1.2 * var(--font-size));
            }

            .company_name {
                font-style: italic;
            }

            .duration {
                opacity: 0.75;
            }

            .rolesres_title {
                margin-top: 1rem;
            }

            .degree_highlights {
                list-style: circle;
            }
        }
    }

}

.skills {
    h1 {
        /* color: green; */
        line-height: 2.75rem;
        padding-block: 1rem;
    }

    .skill-section {
        padding-block: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .technical {
            background-color: var(--color-blue-10);
            padding: 1rem 1.5rem;
            border-radius: 1.5rem;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            display: flex;
            flex-direction: column;
            gap: 0.2rem;

            ul {
                padding-inline: 1rem;
            }
        }
    }

}

.education {
    h1 {
        line-height: 2.75rem;
        padding-block: 1rem;
    }

    .edu_details {

        padding-block: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .edu {
            background-color: var(--color-blue-10);
            padding: 1rem 1.5rem;
            border-radius: 1.5rem;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            display: flex;
            flex-direction: column;
            gap: 0.2rem;

            .duration{
                opacity: 0.75;
            }

            ul{
                list-style: none;
                font-style: italic;
            }

        }

    }

}